<header class="flex justify-end h-18 items-center border-b-2 border-black max-w-full">
    <img class="w-20 h-12 rounded-full pl-4 pr-4" src="/logo.svg" alt="logo" />
    <div class="min-w-0 max-w-8xl w-full pt-4 pb-4">     
        <div class="min-w-0 w-full bg-[rgb(200,35,55)] h-1"></div>
        <div class="min-w-0 w-full bg-[rgb(224,98,54)] h-1"></div>
        <div class="min-w-0 w-full bg-[rgb(215,171,97)] h-1"></div>
        <div class="min-w-0 w-full bg-[rgb(47,76,121)] h-1"></div>
    </div>
    <nav class="flex font-extrabold justify-end gap-12 p-4 mr-14 text-xl">
        <a>Home</a>
        <a>About</a>
        <a>Projects</a>
        <a>Contact</a>
    </nav>