---
import Header from '../components/Header.astro'
import '@fontsource-variable/onest'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio | Sergio Florez</title>
	</head>
	<body class="w-full font-['Onest_Variable',system-ui] flex flex-col justify-center text-black bg-[url('../assets/background.png')] bg-cover bg-white/60 bg-blend-overlay">
		<Header />
		<slot />
	</body>
</html>